<!-- layouts/partials/education.html -->
{{ if .Site.Data.config.certifications.enable }}
<div class="container mx-auto pt-0 pb-0 px-8">
  <div class="grid grid-cols-12 gap-8">

    <!-- Left Column -->
    <div class="col-span-2">
      <h2 class="mt-6 text-xl font-semibold">{{ .Site.Data.config.certifications.title | default "Certifications" }}
      </h2>
    </div>

    <!-- Vertical Divider -->
    <div class="col-span-1 border-l-2 border-gray-500"></div>

    <!-- Right Column (education List) -->
    <div class="col-span-9">
      {{ range .Site.Data.config.certifications.list }}
      <div class="mt-6">
        <h3 class="text-xl font-light">{{ .title }}</h3>
        <p class="text-sm font-extralight">{{ .year }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}