<!-- layouts/partials/projects.html -->
<div class="container mx-auto pt-0 pb-0 px-8">
  <div class="grid grid-cols-12 gap-8">
    {{ if .Site.Data.config.projects.enable }}
    <!-- Left Column -->
    <div class="col-span-2">
      <h2 class="mt-6 text-xl font-semibold">{{ .Site.Data.config.projects.title | default "Projects" }}
      </h2>
    </div>

    <!-- Vertical Divider -->
    <div class="col-span-1 border-l-2 border-gray-500"></div>

    <!-- Right Column (Experience List) -->
    <div class="col-span-9">
      {{ range .Site.Data.config.projects.list }}
      <div class="mt-6">
        <h3 class="text-xl font-light">{{ .title }}</h3>
        <p class="text-sm font-light">{{ .dates }} | {{ .meta }}</p>
        <div class="mt-2">
          {{ range .items }}
          <p><span class="text-xl mr-2">•</span> <span class="text-sm font-light">{{ .details }}</span></p>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    {{ else }}
    {{ end }}
  </div>
</div>